# Virtual Environment
venv/
ENV/
env/
.venv
.env
.env.example
__pycache__/

# Docs
QUICKSTART.md
railway.json
RAILWAY_DEPLOY_GUIDE.md
evidencias_post_deploy_data-link.md
.env.* 
.venv/
__pycache__/
*.pyc
.env
*:Zone.Identifier
